{% extends 'base.html' %}
{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent"
             style="padding-left: 3rem; padding-right: 3rem;">
        <div class="container">
            <div class="row">
                {{ flatpage.content }}
                <ul>
                    <li class="phone"><a href="tel:+40728303133">+4900000000</a></li>
                    <li class="mail"><a href="mailto:contact@brandaffair.ro">contact@example.com</a></li>
                    <li class="adr"><a href="https://www.google.ro/maps/place/Victoria+and+Albert+Museum/@51.4966444,-0.1724646,19z/data=!4m5!3m4!1s0x48760543b17e57c3:0x9eb7094dfdcd651f!8m2!3d51.4966392!4d-0.17218" target="_blank">Victoria and Albert Museum, London</a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}


