{% load contact_tags %}
<footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-8 footer-right">
                        <div class="w3layouts-newsletter">
                            {% contact_form %}
                        </div>
                        <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Sections</h3>
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="/" class="editContent" >Main</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <!-- social icons -->
                                <div class="agileinfo_social_icons">
                                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Pages</h3>
                                    <ul class="list-unstyled w3layouts-icons">

                                        <li>
                                            <a href="/about/" class="editContent" >About Us</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- social icons -->
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Contact Info</h3>
                                <div class="contact-info">
                                    <div class="footer-address-inf my-4">
                                        <h4 class="ad-info mb-2 editContent" >Email </h4>
                                        <p class="editContent" ><a href="mailto:info@example.com">info@example.com</a></p>
                                        <h4 class="ad-info mb-2 editContent" >Phone </h4>
                                        <p class="editContent"><a href="tel:+4900000000">+4900000000</a></p>
                                        <h4 class="ad-info mb-2 editContent" >Address </h4>
                                        <p class="editContent"><a href="https://www.google.ro/maps/place/Victoria+and+Albert+Museum/@51.4966444,-0.1724646,19z/data=!4m5!3m4!1s0x48760543b17e57c3:0x9eb7094dfdcd651f!8m2!3d51.4966392!4d-0.17218" target="_blank">Victoria and Albert Museum, London</a></p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </footer>
<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2022 DjangoSet</p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>